<div class="container">
    <div class="formdiv" *ngIf="messagediv">
        <div class="header center" *ngIf="!isShow">
            <h3>Application Form</h3>
        </div>
        <div *ngIf="!isShow">
            <div class="center">
                <div *ngIf="f.submitted && applysuccess" style="color: green;">
                    <br />
                    <h5>{{errorMessage}}</h5>
                </div>
                <div *ngIf="f.submitted && applyfaild" style="color: red;">
                    <h5>Your Application faild <br />{{errorMessage}}</h5>
                </div>
            </div>

            <form name="form" (ngSubmit)="f.form.valid && Onapply() " #f="ngForm" validate>
                <div class="row">
                    <div class=" input-field col s12 m6 l6">
                        <i class="material-icons prefix">account_circle</i>
                        <input #fname="ngModel" name="fname" [(ngModel)]="form.fname" id="f_icon_prefix" type="text"
                            required maxlength="70" />
                        <label for="f_icon_prefix">First Name</label>
                        <div *ngIf=" fname.invalid &&(fname.dirty || fname.touched)" class="alert alert-danger">
                            <div *ngIf="fname.errors.required">First Name is required</div>
                        </div>
                    </div>

                    <div class=" input-field  col s12 m6 l6 ">
                        <i class="material-icons prefix">account_circle</i>
                        <input #lname="ngModel" name="lname" [(ngModel)]="form.lname" id="l_icon_prefix" type="text"
                            required maxlength="70" />
                        <label for="l_icon_prefix">Last Name</label>
                        <div *ngIf="lname.invalid &&(lname.dirty || lname.touched)" class="alert alert-danger">
                            <div *ngIf="lname.errors.required">Last Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field  col s12 m6 l6">
                        <i class="material-icons prefix">phone</i>
                        <input #phone="ngModel" name="phone" [(ngModel)]="form.phone" id="t_icon_telephone" type="tel"
                            minlength="10" maxlength="10" required>
                        <label for="t_icon_telephone">Telephone</label>
                        <div *ngIf=" phone.invalid &&(phone.dirty || phone.touched)" class="alert alert-danger">
                            <div *ngIf="phone.errors.required">Phone Number is required</div>
                            <div *ngIf="phone.errors.minlength">Phone number not valid!</div>
                            <div *ngIf="phone.errors.maxlength">Phone number not valid!</div>
                        </div>
                    </div>

                    <div class="input-field  col s12 m6 l6">
                        <i class="material-icons prefix">mail_outline</i>
                        <input #email="ngModel" name="email" [(ngModel)]="form.email" id="e_icon_prefix" type="email"
                            required email maxlength="255">
                        <label for="e_icon_prefix">Email</label>
                        <div *ngIf="email.invalid &&(email.dirty || email.touched)" class="alert alert-danger">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" input-field  col s12 m6 l6">
                        <i class="material-icons prefix">location_city</i>
                        <input #cily="ngModel" name="city" [(ngModel)]="form.city" type="text" id="p_icon_prefix"
                            required />
                        <label for="p_icon_prefix">City</label>
                        <div *ngIf=" cily.invalid &&(cily.dirty || cily.touched)" class="alert alert-danger">
                            <div *ngIf="cily.errors.required">City is required</div>
                        </div>
                    </div>

                    <div class="input-field  col s12 m6 l6">
                        <i class="material-icons prefix">credit_card</i>
                        <input #panNumber="ngModel" name="panNumber" [(ngModel)]="form.panNumber" type="text"
                            id="r_icon_prefix" required minlength="10" maxlength="10" />
                        <label for="r_icon_prefix">Pan Card number</label>
                        <div *ngIf="panNumber.invalid &&(panNumber.dirty || panNumber.touched)"
                            class="alert alert-danger">
                            <div *ngIf="panNumber.errors.required">Pan card number is required</div>
                            <div *ngIf="panNumber.errors.minlength">Pan card number must be at least 10 characters</div>
                            <div *ngIf="panNumber.errors.maxlength">Pan card number must be at least 10 characters</div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="modal-footer center">
                    <button class="btn waves-effect waves-light" [disabled]="!f.form.valid">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>


        <div class="center container" *ngIf="isShow">
            <p>Opt send to enter mobile number <br> {{phone.value}} </p>
            <form name="otpform" (ngSubmit)="otpform.form.valid && verifyOPT() " #otpform="ngForm" validate>
                <input #phone="ngModel" name="phone" [(ngModel)]="form.phone" id="t_icon_telephone" type="hidden">
                <div class="input-field ">
                    <i class="material-icons prefix">fiber_pin</i>
                    <input #otp="ngModel" name="otp" [(ngModel)]="form.otp" id="t_icon_otp" type="number" minlength="4"
                        maxlength="4" required />
                    <label for="t_icon_otp">OTP</label>
                    <div *ngIf=" otp.invalid &&(otp.dirty || otp.touched)" class="alert alert-danger">
                        <div *ngIf="otp.errors.required">OTP Number is required</div>
                        <div *ngIf="otp.errors.minlength">OTP is not valid</div>
                        <div *ngIf="otp.errors.maxlength">OTP is not valid</div>
                    </div>
                </div>
                <div style="padding-bottom: 10px;">
                    <a (click)="verifyOPT()" style="color: red;">Resent OTP</a>
                </div>
                <div class="modal-footer center">
                    <button class="btn waves-effect waves-light" [disabled]="!otpform.form.valid">Submit </button>
                </div>
            </form>
        </div>
    </div>

    <div class="center messagediv" *ngIf="!messagediv">
        <h2> {{message}} </h2>
        <a class="waves-effect waves-light btn-large" [routerLink]="['/']">OK</a>
    </div>




</div>